---
---

@import "minima";

.site-header {
  border-top: 0;
  border-bottom: 1px solid #e8e8e8;
}

.site-footer {
  padding: 16px 0;
}

.site-footer .wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.footer-heading {
  margin-bottom: 8px;
}

.footer-col-wrapper {
  margin-left: 0;
  margin-bottom: 0;
}

.footer-col {
  margin-bottom: 0;
  padding-left: 0;
}

.site-footer .contact-list,
.site-footer p,
.site-footer .social-media-list {
  margin-bottom: 0;
}
